@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');


.card {

    font-family: 'Inconsolata', monospace;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1px;



}